@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}
.linearGradient{
  background: linear-gradient(97deg, #4066ff 4%, #2949c6 100%);
}
.border-gradient {
  border-image: linear-gradient(to right, #ff8a00, #e52e71);
  border-image-slice: 1;
}
@layer components{
  .nav_link{
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-['']
     after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100
     after:transition after:duration-300 after:origin-center
  }
}

@layer utilities {
  .btn_white_rounded  { 
    @apply  bg-transparent px-6 py-3 text-gray-90 hover:bg-cyan-200 hover:scale-110 duration-300
  }
  .btn_blue_rounded { 
    @apply  border-blue-500 bg-blue-500 px-6 py-3 text-white
  }
  .btn_blue { 
    @apply  rounded-2xl bg-blue-500 px-6 py-3 text-white
  }
  .btn_dark_rounded { 
    @apply  border-green-90 bg-green-90 px-6 py-3 text-white stroke-white transition-all hover:bg-black hover:scale-95 duration-200
  }
  .btn_indigo_rounded{
    @apply border-indigo-500 bg-indigo-500 px-6 py-3 hover:bg-cyan-500 shadow-lg shadow-cyan-500/50 hover:scale-95 duration-200
  }
  .btn_dark { 
    @apply  rounded-2xl bg-green-90 px-6 py-3 text-white transition-all hover:bg-black
  }
  
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-52 {
    @apply text-[52px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }
  .bold-48 {
    @apply text-[48px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }
  .bold-28 {
    @apply text-[28px] font-[700] leading-[120%];
  }

  .bold-22 {
    @apply text-[22px] font-[600];
  }
  .bold-20 {
    @apply text-[20px] font-[600];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

}
